absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiokafka==0.12.0
aiosignal==1.4.0
alembic==1.13.1
amqp==5.3.1
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.9.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
Authlib==1.6.3
avro-python3==1.10.2
backoff==2.2.1
bandit==1.8.6
bcrypt==4.3.0
billiard==4.2.1
black==23.12.1
blinker==1.9.0
build==1.3.0
cachetools==5.5.2
celery==5.3.4
certifi==2024.12.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.0
chromadb==0.4.22
chroma-hnswlib==0.7.3
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.1
codecov==2.1.13
colorama==0.4.6
coloredlogs==15.0.1
confluent-kafka==2.11.1
contourpy==1.3.3
coverage==7.3.2
cryptography==45.0.5
cycler==0.12.1
databricks-sdk==0.65.0
dataclasses-json==0.6.7
datasets==4.0.0
decorator==5.1.1
Deprecated==1.2.18
dill==0.3.8
distlib==0.4.0
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
dparse==0.6.4
durationpy==0.10
ecdsa==0.19.1
elasticsearch==8.11.0
elastic-transport==8.17.1
email-validator==2.3.0
faiss-cpu==1.7.4
fastapi==0.104.1
fastapi-limiter==0.1.6
filelock==3.16.1
flake8==7.3.0
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==24.3.25
fonttools==4.59.2
frozenlist==1.7.0
fsspec==2024.10.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
googleapis-common-protos==1.70.0
google-auth==2.40.3
google-pasta==0.2.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.3
grpcio==1.74.0
grpcio-tools==1.74.0
h11==0.16.0
h5py==3.12.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.25.2
huggingface-hub==0.27.0
humanfriendly==10.0
identify==2.6.13
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.10.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kafka-python==2.0.2
keras==3.7.0
kiwisolver==1.4.9
kombu==5.5.4
kubernetes==33.1.0
langchain==0.1.0
langchain-community==0.0.20
langchain-core==0.1.23
langchain-openai==0.0.2
langsmith==0.0.87
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.1
limits==5.5.0
llvmlite==0.43.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
mccabe==0.7.0
mdurl==0.1.2
mlflow==3.3.2
mlflow-skinny==3.3.2
mlflow-tracing==3.3.2
ml-dtypes==0.4.1
mmh3==5.2.0
more-itertools==10.8.0
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.6.3
multiprocess==0.70.16
mypy_extensions==1.1.0
mysqlclient==2.2.0
mysql-connector==2.2.9
mysql-connector-python==9.4.0
namex==0.0.8
narwhals==2.4.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.3.1
onnxruntime==1.22.1
openai==1.101.0
openai-whisper==20250625
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
optree==0.13.1
opt_einsum==3.4.0
overrides==7.7.0
packaging==23.2
pandas==2.1.4
passlib==1.7.4
pathspec==0.12.1
pillow==11.0.0
pip==25.2
platformdirs==4.3.6
plotly==6.3.0
pluggy==1.6.0
pooch==1.8.2
posthog==6.5.0
pre_commit==4.3.0
proglog==0.1.12
prometheus_client==0.22.1
prometheus-fastapi-instrumentator==7.1.0
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
pulsar-client==3.8.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydantic-settings==2.1.0
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.18.0
PyJWT==2.10.1
pymongo==4.10.1
PyMySQL==1.1.0
pyparsing==3.2.3
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-mock==3.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2024.2
pywin32==311
PyYAML==6.0.2
redis==5.0.1
regex==2024.11.6
requests==2.32.5
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
safetensors==0.4.5
safety==3.6.1
safety-schemas==0.0.14
scikit-learn==1.3.2
scipy==1.14.1
seaborn==0.13.2
secure==1.0.1
sentry-sdk==2.37.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
soundfile==0.12.1
soxr==0.5.0.post1
SpeechRecognition==3.10.0
SQLAlchemy==2.0.23
sqlparse==0.5.3
starlette==0.27.0
stevedore==5.5.0
sympy==1.13.3
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
threadpoolctl==3.5.0
tiktoken==0.5.2
tokenizers==0.15.2
tomlkit==0.13.3
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
torchvision==0.23.0+cpu
tqdm==4.67.1
transformers==4.35.2
typer==0.16.0
typing_extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.2.3
uvicorn==0.24.0
vine==5.1.0
virtualenv==20.34.0
waitress==3.0.2
wandb==0.21.3
watchfiles==1.1.0
wcwidth==0.2.13
websockets==12.0
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
whisper==1.1.10
wrapt==1.17.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
